*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;
}

.add_organisation{
    margin-bottom: 1.5rem;
}

.add_organisation h1{
    text-align: center;
    margin-bottom: 1rem;
}

.add_organisation_form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

#urlinput{
    font-size: 16px;
    margin-bottom: .5rem;
    height: 3rem;
    color: #797979;
    background-color: #fff;
    border: 2px solid #E0E5DA;
    border-radius: 12px;
    padding-left: 1rem;
    outline: none;
}

#submit_btn{
    color: #fff;
    background-color: #157FFB;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    border: 2px solid #157FFB;
    border-radius: 12px;
    transition: .2s;
}

.organization_information div{
    margin-bottom: 1rem;
}

.organization_information div p, .organization_information div a, .public_projects p{
    line-height: 2;
}

.public_projects p {
    text-align: center;
    margin: .7rem 0;
    padding: .5rem 2rem;
    color: #fff;
    background-color: #157FFB;
    border-radius: 12px;
    border: 2px solid #157FFB;
    cursor: pointer;
    transition: .2s;
}

.public_projects p:active, #submit_btn:active {
    background-color: #fff;
    border: 2px solid #157FFB;
    color: #157FFB;
}

.public_projects_title{
    margin-bottom: 2rem;
}

.url_organization_wrapper a{
    color: #157FFB;
}

@media all and (min-width: 1024px){
    .wrapper, .add_organisation_form{
        max-width: 700px;
    }

    .organization_information, .public_projects_title{
        text-align: center;
    }

    .public_projects p:hover, #submit_btn:hover {
        background-color: #fff;
        border: 2px solid #157FFB;
        color: #157FFB;
    }
}

/* POPUP */

.popup{
    display: none;
}

.popup.active_popup{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    border-radius: 12px;
    border: 2px solid #157FFB;
    background-color: #fff;
    padding: 1rem;
}

.cross {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    cursor: pointer;
  }

  .cross:hover {
    opacity: 1;
  }

  .cross:before, .cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #157FFB;
  }

  .cross:before {
    transform: rotate(45deg);
  }

  .cross:after {
    transform: rotate(-45deg);
  }

  .name_popup h2{
      text-align: center;
      font-size: 16px;
      margin-top: 40px;
  }

  .url_popup h2, .ssh_popup h2, .clone_url_popup h2, .stars_popup h2, .size_popup h2, .description_popup h2{
      font-size: 14px;
      margin-top: .5rem;
  }

  .url_popup a, .ssh_popup p, .clone_url_popup p, .stars_popup p, .size_popup p, .description_popup p{
    font-size: 14px;
    line-height: 2;
    word-wrap: break-word;
  }

  .url_popup a{
    color: #157FFB;  
  }

  .url_popup{
      max-width: 80vw;
  }

  @media all and (min-width: 1024px){
    .name_popup h2{
        font-size: 22px;
    }
  
    .url_popup h2, .ssh_popup h2, .clone_url_popup h2, .stars_popup h2, .size_popup h2, .description_popup h2{
        font-size: 18px;
    }
  
    .url_popup a, .ssh_popup p, .clone_url_popup p, .stars_popup p, .size_popup p, .description_popup p{
      font-size: 16px;
    }

    .cross {
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
      }

    .popup.active_popup{
        padding: 2rem;
    }

    .popup{
        max-width: 1440px;
    }
  }